{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    {% if messages %}
        {% for msg in messages %}
        <div class="alert alert-{{ msg.tags }} alert-dismissible fade show" role="alert">
            {{ msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        
    {% endif %}
        <h1>{{ title }}</h1>
        {{ html | safe }}

        <p><a href="{% url 'encyclopedia:editentry' title %}">Edit this entry</a></p>
    {% endblock %}
